# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore IDE/editor folders
.vscode/

# Ignore .env file containing sensitive data
.env

# Ignore log files
*.log

# Ignore test output directories
test_output/